# Archivos compilados y caches de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
.venv/
env/
ENV/

# Archivos de registros y logs
*.log

# Caches de IDEs y editores
.vscode/
.idea/
*.swp
*.swo
.agents

# Archivos del sistema operativo
.DS_Store
Thumbs.db
